@model CreatePasswordVM

@{
	Layout = null;
}


<link rel="stylesheet" href="/css/login.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<div class="overlay">
    <div class="page">
        <div class="container">
            <div class="left">
                <div class="login">
                    <img src="/images/HrELPlogo.png" height="45" /> Create
                    Password
                </div>
                <div class="eula">By logging in you agree the terms and conditions.</div>
            </div>
            <div class="right">
                <svg viewBox="0 0 320 300">
                    <defs>
                        <linearGradient inkscape:collect="always"
                                        id="linearGradient"
                                        x1="13"
                                        y1="193.49992"
                                        x2="307"
                                        y2="193.49992"
                                        gradientUnits="userSpaceOnUse">
                            <stop style="stop-color:#ff00ff"
                                  offset="0"
                                  id="stop876" />
                            <stop style="stop-color:#ff0000"
                                  offset="1"
                                  itemid="stop878" />
                        </linearGradient>
                    </defs>
                    <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
                </svg>
                <div class="form">
                    <form asp-controller="Login" asp-action="CreatePassword" method="post">
                        <input asp-for="Token" type="hidden" />
                        <input asp-for="UserId" type="hidden" />
                        <label asp-for="Password">New Password</label>
                        <input asp-for="Password" type="password" placeholder="Enter your new password" />
                        <span asp-validation-for="Password" style="color:red;"></span>
                        <label asp-for="ReTypePassword">New Password again</label>
                        <input asp-for="ReTypePassword" type="password" placeholder="Confirm your new password" />
                        <span asp-validation-for="ReTypePassword" style="color:red;"></span>
                        <input style="border:solid 1px; border-radius:3%; color:white; cursor:pointer;" type="submit" id="submit" value="Send" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>
